.sidebar {
    width: 200px;
    height: 100%;
    background-color: #333;
    color: white;
    position: fixed;
    left: 0;
    top:120px;
    overflow-x: hidden;
  }
  
  .sidebar-item {
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }
  
  .sidebar-item:hover {
    background-color: #555;
    color: white;
    cursor: pointer;
  }

  .sidebar-item.selected {
    background-color: #555;
    color: white;
  }

  .sidebar-item:active {
    background-color: #777;
    color: white;
  }