.base{    
    position:relative;
    top:-100px;
    left:100px;
    width:200px;
    height:200px;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}

.content{
    position: relative;
    left:50%;
    top:100px;
    width:200px;
    height:200px;
    text-align: center;
}

.content h1{
    position:relative;
    top:75px;
}


h1{
    text-align: center;
}

.box{
    width:100px;
    height:100px;
    transition: transform 5s ease-in;
    z-index:1;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.red:hover{
    transform: rotate(90deg);
    transition-duration: 5s;
    transform-origin: top left;
}


.yellow:hover{
    transform: rotate(-90deg);
    transition-duration: 5s;
    transform-origin: top right;
}

.blue:hover{
    transform: rotate(-90deg) ;
    transition-duration: 5s;
    transform-origin: bottom left;
}

.green:hover{
    transform: rotate(90deg);
    transition-duration: 5s;
    transform-origin: bottom right;
}


