.base{    
    position:relative;
    top:-100px;
    left:100px;
    width:200px;
    height:200px;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}

.content{
    position: relative;
    left:50%;
    top:100px;
    width:200px;
    height:200px;
    text-align: center;
}

.content h1{
    position:relative;
    top:75px;
}


h1{
    text-align: center;
}

.box{
    width:100px;
    height:100px;
    transition: transform 1s ease-in;
    z-index:1;
}

.red{
    background-color: red;
    transform-origin: top left;
}

.yellow{
    background-color: yellow;
    transform-origin: top right;
}

.blue{
    background-color: blue;
    transform-origin: bottom left;
}

.green{
    background-color: green;
    transform-origin: bottom right;
}

.base:hover .red{
    transform: rotate(90deg);
}


.base:hover .yellow{
    transform: rotate(-90deg);
}

.base:hover .blue{
    transform: rotate(-90deg) ;
}
.base:hover .green{
    transform: rotate(90deg);
}


