.header{
    display:flex;
    justify-content: center;
    background-color: lightpink;
}

.content{
    display: flex;
    flex-direction: row;
}

.inputForm{
    display: flex;
    flex-direction: column;
}

.inputForm div{
    width: 500px;
}

.submitButton{
    display: flex;
    flex-direction: row;
}

.submitButton button{
    margin:0px 25%;
}

label {
    display: inline-block;
    width: 100px;
  }

  footer{
    background-color: grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  footer div ul{
    list-style: none;
  }




